<div class="product-details-container">
  <div class="all">
    <div class="product">
      <div class="product-image">
        <img src="assets/TELEWIZOR-LG-OLED48C31LA-4K-120Hz-Airplay2-Dolby-Atmos-Magic-Pilot.jpeg" alt="Product Image"
             class="product-image">
      </div>
      <div class="product-details">
        <div class="product-title">
          <span>
            Telewizor OLED LG OLED48C31LA.AEU 48" 4K UHD szary
          </span>
        </div>
        <div class="product-rating">
          Ocena: 4.5 / 5
        </div>
      </div>
    </div>

    <div class="product-description">
      <p>Opis produktu tutaj. Możesz dodać szczegółowe informacje o funkcjach, zaletach i innych istotnych aspektach
        produktu.</p>
    </div>
  </div>
</div>
