<app-header-top></app-header-top>
<app-header-main></app-header-main>

<div class="desktop-container">
  <div class="all">
    <div class="top">
      <div class="left-container">
        <div class="component-wrapper">
          <app-product-images></app-product-images>
        </div>
        <div class="component-wrapper">
          <app-technical-specification></app-technical-specification>
        </div>
        <div class="component-wrapper">
          <app-product-description></app-product-description>
        </div>
      </div>
      <div class="right-container">
        <div class="component-wrapper">
          <app-product-details></app-product-details>
        </div>
        <div class="component-wrapper">
          <app-proadct-ship-info></app-proadct-ship-info>
        </div>
        <div class="component-wrapper">
          <app-seller-info></app-seller-info>
        </div>
      </div>
    </div>
    <div class="component-wrapper">
      <app-product-opinions></app-product-opinions>
    </div>
  </div>
</div>

<div class="mobile-container">
  <div class="all">

    <div class="component-wrapper">
      <app-product-details></app-product-details>
    </div>
    <div class="component-wrapper">
      <app-proadct-ship-info></app-proadct-ship-info>
    </div>
    <div class="component-wrapper">
      <app-technical-specification></app-technical-specification>
    </div>
    <div class="component-wrapper">
      <app-product-description></app-product-description>
    </div>
    <div class="component-wrapper">
      <app-seller-info></app-seller-info>
    </div>
    <div class="component-wrapper">
      <app-product-opinions></app-product-opinions>
    </div>
  </div>
</div>

<app-footer-main></app-footer-main>
