<div class="header-top">

  <div class="all">

    <div class="header-social-container">

      <button class="btn">
        <span class="count">Zaloguj się</span>
      </button>

      <button class="btn">
        <span class="count">Zajerestruj</span>
      </button>

    </div>

    <div class="header-alert-news">
      <p>
        <!--          <b>Free Shipping</b>-->
        <!--          This Week Order Over - $55-->
      </p>
    </div>

    <div class="header-top-actions">

      <select name="currency">

        <option value="usd">PLN zł</option>
        <option value="eur">EUR &euro;</option>
        <option value="usd">USD &dollar;</option>

      </select>

      <select name="language">

        <option value="pl-PL">Polski</option>
        <option value="en-US">English</option>

      </select>

    </div>

  </div>

</div>
