<div class="footer-nav">

  <div class="all">

    <!-- About Section -->
    <ul class="footer-nav-list">

      <li class="footer-nav-item">
        <h4 class="nav-title">MatiStore</h4>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">O nas</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Reklama</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Mapa witryny</a>
      </li>

    </ul>

    <!-- Customer Service Section -->
    <ul class="footer-nav-list">

      <li class="footer-nav-item">
        <h4 class="nav-title">Obsługa Klienta</h4>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Kontakt</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">FAQ</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Zwroty</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Polityka Prywatności</a>
      </li>

    </ul>

    <!-- Information Section -->
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <h4 class="nav-title">Informacje</h4>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Regulamin</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Warunki Dostawy</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Metody Płatności</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Polityka Cookies</a>
      </li>

    </ul>

    <!-- Quick Links Section -->
    <ul class="footer-nav-list">

      <li class="footer-nav-item">
        <h4 class="nav-title">Szybkie Linki</h4>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Nowości</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Bestsellery</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Promocje</a>
      </li>

      <li class="footer-nav-item">
        <a href="#" class="footer-nav-link">Blog</a>
      </li>

    </ul>

    <!-- Contact Section -->
    <ul class="footer-nav-list">

      <li class="footer-nav-item">
        <h4 class="nav-title">Kontakt</h4>
      </li>

      <li class="footer-nav-item flex">
        <div class="icon-box">
          <i class="bi bi-geo-alt-fill"></i>
        </div>

        <address class="content">
          419 State 414 Rte<br>
          Beaver Dams, New York(NY), 14812, USA
        </address>
      </li>

      <li class="footer-nav-item flex">
        <div class="icon-box">
          <i class="bi bi-telephone"></i>
        </div>

        <a href="tel:+607936-8058" class="footer-nav-link">(607) 936-8058</a>
      </li>

      <li class="footer-nav-item flex">
        <div class="icon-box">
          <i class="bi bi-envelope"></i>
        </div>

        <a href="mailto:examplegmail.com" class="footer-nav-link">examplegmail.com</a>
      </li>

      <li class="footer-nav-item flex">
        <div class="app-store">
          <img src="assets/google.jpg" alt="goole_store">
        </div>
        <div class="app-store">
          <img src="assets/apple.jpg" alt="apple_store">
        </div>
      </li>

    </ul>
  </div>
</div>
