.product-title {
  font-weight: bold;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.product-status {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 5px;
}

.product-rating {
  display: flex;
  align-items: center;
}

.rating-count {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #888;
}

.purchase-info {
  font-size: 0.9rem;
  color: #888;
}

.quantity-info {
  font-size: 0.9rem;
}

.quantity-actions {
  display: flex;
  flex-direction: column;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control input {
  width: 30px;
  text-align: center;
  border-radius: 0;
  border: none;
}

.quantity-control button {
  border: none;
  background-color: lightgrey;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-buttons button {
  border: none;
  padding: 3px 0;
  margin: 5px 0;
  background-color: lightgrey;
}
