<div class="seller-info">
  <div class="seller-details">
    <div class="seller-photo">
      <img src="assets/blank-profile-picture-973460_1280.png" alt="Zdjęcie sprzedawcy">
    </div>
    <div class="seller-data">
      <div class="seller-name">
        <span>KielbekPL</span>
      </div>
      <div class="seller-stats">
        <span>97% opinii pozytywnych</span><br>
        <span>Sprzedane przedmioty: 221 tys.</span>
      </div>
    </div>
  </div>
  <div class="seller-actions">
    <button>Odwiedź sklep</button>
    <button>Skontaktuj się ze sprzedawcą</button>
  </div>
</div>
