<div class="header-main">

  <div class="all">

    <a href="#" class="header-logo">
      <img src="assets/logo.png" alt="Anon's logo" width="120" height="36">
    </a>

    <div class="header-search-container">

      <select name="select-option" aria-label="Default select example">
        <option value="" selected>Wybierz kategorię</option>
        <option value="electronics">Elektronika</option>
        <option value="fashion">Moda</option>
        <option value="home-garden">Dom i Ogród</option>
        <option value="health-beauty">Zdrowie i Uroda</option>
        <option value="sports-recreation">Sport i Rekreacja</option>
        <option value="automotive">Motoryzacja</option>
        <option value="books-media">Książki, Filmy i Muzyka</option>
        <option value="baby-kids">Artykuły Dziecięce</option>
        <option value="food-drinks">Żywność i Napoje</option>
        <option value="office-school">Artykuły Biurkowe i Szkolne</option>
        <option value="pets">Zwierzęta</option>
        <option value="art-collectibles">Sztuka i Kolekcjonerstwo</option>
      </select>

      <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

      <button class="search-btn">
        <i class="bi bi-search"></i>
      </button>

    </div>

    <div class="header-user-actions">

      <button class="action-btn">
        <i class="bi bi-person"></i>
      </button>

      <button class="action-btn">
        <i class="bi bi-heart"></i>
        <span class="count">0</span>
      </button>

      <button class="action-btn">
        <i class="bi bi-bag"></i>
        <span class="count">0</span>
      </button>

    </div>

  </div>

</div>
